
/* ------------------------
	Pseudo-classes
--------------------------- */

:root {
	background-color: #BDD4DE;
}

:target {
	color: #FFF;
	background-color: #EA2E49;
}


:enabled {
	background-color: orange;
}

:disabled {
	background-color: #CCC;
}

input[type="radio"]:checked + label {
	font-size: 1.4em;
	font-weight: bold;
}

input:not([type="submit"]) {
	border: 2px solid #000;
	background-color: #FFF;
}