body {
	margin: 80px auto;
	width: 70%;
	color: #222;
	font: normal 1.1em/1.5 Sans-Serif;
}

/* Pseudo-elements */

.intro::first-line {
  color: royalblue;
  font-weight: bold;
  font-size: 32px;
}

.intro::first-letter {
  float: left;
  margin: 10px 10px;
  padding: 5px 10px;
  background: #E0E0E0;
  font-size: 100px;
  line-height: 1;
}
