
body {
	padding: 1em 6em;
}
	
/* Font Styles
--------------------------------------------- */

h1 {
	font-family: Georgia, Times, serif;
	font-weight: normal;
	font-size: 2.5em;	
}

p {
	font: 1.5em Baskerville, "Times New Roman", Times, serif;
}