body {
	padding: 0 22%;
	background-color: #e0eef5;
	color: #222;
	font: 1.1em/1.5 sans-serif;
}
ul  {
	padding: 0;
	list-style-type: none;
	line-height: 2.5;
}
img {
	margin-right: 20px;
}

/* Substring Matching Attribute Selectors */

a[href^="http://"] {
  color: seagreen;
}

a[href^="mailto:"] {
  color:white;
  background-color: tomato;
  padding: 4px 8px;
  text-decoration: none;
}

a[href$=".pdf"] {
  background: url('../images/pdf.png') no-repeat 0 2px;
  padding-left: 25px;
}

a[href$=".doc"] {
  background: url('../images/doc.png') no-repeat 0 2px;
  padding-left: 25px;
}

img[src*="thumb"] {
  border: 5px solid;
}


