/* Absolute Length Units 
--------------------------------------------- */


.cm {
	width: 21.16cm;
}

.mm {
	width: 211.6mm;
}

.in {
	width: 8.33in;
}

.pc {
	width: 50pc;
	font-size: 2.4pc;
}

.pt {
	width: 600pt;
	font-size: 28.4pt;
}

.px {
	width: 800px;
	font-size: 38px;
}