
body, h1, p {
	margin: 0;
}

body {
	background: rgba(121,144,167,1);
	color: #222;
	font: 1.1em/1.5 sans-serif;
}
img {
	border: 1px solid;
}
p, h1 {
	margin-bottom: 1.5em;
}
.main {
	box-sizing: border-box;
	margin: 50px auto;
	padding: 40px;
	width: 78%;
	border: 1px solid rgba(87,104,115, .9);
	border-radius: 12px;
	background: rgba(255,255,255,.9);
}