body {
	padding: 1% 26.5%;
	background-color: #e0eef5;
	color: #333;
}
p, div  {
	margin: 55px 0;
	font: 3em sans-serif;
}
a {
	color: royalblue;
	text-decoration: none;
	font: 2.25em sans-serif;
}


/* Pseudo-elements */

.phone::after {
  content: "\2706";
}

.dload::before {
  content: url(../img/pdf.png);
  margin: 0 8px;
}

.dload::after {
  content: attr(title);
  padding-left: 10px;
  font-size: .75em;
  color: tomato;
}

.box::before,
.box::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: royalblue;
  border-radius: 50%;
  margin: 15px 15px 0 15px;
}

.box {
  border: 1px solid;
  padding: 10px;
}


