
body {
	font: normal 1.1em/1.5 Sans-Serif;
	color: #FFF;
	width: 80%;
	margin:0 auto;
	padding: 2em;
	background: #000;
}

.phone {
	font-size: 1.4em;
	color: #77c4d3;
	font-weight: bold;
	margin: 10px 0 20px 0;
}

a {
	color: #e9ea73;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 8px;
	border-bottom: 1px dotted #e9ea73;
}
