<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>History</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Store History</string>
			<key>Key</key>
			<string>storeHistory</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Currency</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>From Currency</string>
			<key>Key</key>
			<string>fromCurrency</string>
			<key>DefaultValue</key>
			<string>US Dollar</string>
			<key>Values</key>
			<array>
				<string>US Dollar</string>
				<string>Japanese Yen</string>
				<string>Euro</string>
				<string>British Pound</string>
			</array>
			<key>Titles</key>
			<array>
				<string>US Dollar</string>
				<string>Japanese Yen</string>
				<string>Euro</string>
				<string>British Pound</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>To Currency</string>
			<key>Key</key>
			<string>toCurrency</string>
			<key>DefaultValue</key>
			<string>US Dollar</string>
			<key>Values</key>
			<array>
				<string>US Dollar</string>
				<string>Japanese Yen</string>
				<string>Euro</string>
				<string>British Pound</string>
			</array>
			<key>Titles</key>
			<array>
				<string>US Dollar</string>
				<string>Japanese Yen</string>
				<string>Euro</string>
				<string>British Pound</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
