body {
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #420600 url('img/bg-texure.jpg') repeat;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #B4C34F;
}

.btn {
	color: #FAF3BC;
	background: #4FB69F url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #4CC4A7;
}



















